body{
	font-family: 'Open Sans', sans-serif;
}
.nav{
	background-color: #e02425;
	padding: 10px 0px; 
	color: #f2f2f2;
	border-bottom: 1px solid #ffca05;
}
.navbotom{
	background-color: #e02425;
	padding: 10px 0px; 
	color: #f2f2f2;
	border-bottom: 2px solid #ccc;
}
.link a{
	text-decoration: none !important;
	color: #f2f2f2 !important;
}
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .logo {
	padding: 0px !important;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b31f20;
  color: #ffca05;
  transition: 0.3s;
  border-radius: 5px;
}

.logo img{
	height: 55px; width: auto;
}

.carousel-item img{
	width: auto;
}
.slider-background{
	background:url("../img/slider/background_slider.jpg");
    background-size: cover;       /* For flexibility */
    height: 400px;
    overflow: hidden;
}
.feature-product{
	padding: 10px 0px;
	color: #4b4b4b;
}
.hr_black{
	border-top: 1px solid #ddd !important;
}
.hr_yellow{
	border-bottom: 5px solid #ffca05 !important;
}
.top-feature{
	overflow: hidden;
}
.top-feature a{
	text-decoration: none;
	color: #4b4b4b;
	font-weight: 600;
	font-size: 14px;
}
.top-feature a:hover{
	text-decoration: none;
	color: #e02425;
}
.sub-title{
	font-size: 20px;
	font-weight: 600;
}
.image-product{
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.image-product img{
	height: auto;
	width: 260px;
	vertical-align: middle;
}
.title-product{
	padding: 10px;
}
.title-product h6{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 250px;
}
.title-product span{
	font-size: 14px;
	color: #fe7701;
	font-weight: 600;
}
.list-product{
	border: 1px solid #ddd;
}
.add-product{
	padding: 10px;
	background-color: #ffca05;
	color: white;
}
.list-product a{
	text-decoration: none !important;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.logo-footer{
	width: auto;
    height: 50px;
}
.sosmed img{
	height: 50px;
	width: auto;
	padding: 5px;
}
.footer{
	border-top: 5px solid #ffca05 !important;
	background-color: #e02425;
	padding: 15px 0px; 
	color: #f2f2f2;
}
.sosmed-section{
	padding: 10px 0px;
}
.sp-wrap {
    max-width: 100% !important;
    margin: 0 !important;
}
.thumbproduct{
	margin-top: 30px;
}
.sub_title{
	padding: 10px 0px;
}
.detail h4{
	color: #575757 !important;
}
.detail .price{
	color: #f78203 !important;
}
.btn_val{    
	height: 50px;
    min-width: 10px: 
 	width : auto;
    border: 1px solid #ccc;
    padding: 7px 17px;
    vertical-align: middle;
}
.btn-yellow{
	padding: 10px 80px 10px 80px;
	font-size: 14px;
	color: white;
	width: 150px;
	background-color: #ffca05;
}
.detail_addtocart{
	width: 100%;
	padding: 10px 80px ;
	vertical-align: middle;
	text-decoration: none !important;
	border: 1px solid #ccc;
	color: #ffca05;
}
.detail_checkout{
	width: 100%;
	padding: 10px 80px ;
	vertical-align: middle;
	color: #fff;
	text-decoration: none  !important;
	background-color: #ffca05;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #e05624 !important;
    border-color: #e05624 !important;
}
.address_bar {
    border: 1px solid #dadada;
    padding: 15px;
}
.edit_color{
	padding: 0px 10px;
	text-decoration: none;
	color: #4488c4;
}
.edit_color:hover{
	text-decoration: none;
	color: #4488c4;
}
.delete_color{
	padding: 0px 10px;
	text-decoration: none;
	color: #d07b65;
}
.delete_color:hover{
	text-decoration: none;
	color: #d07b65;
}
.desc_address{
	color: #8c8c8c;/*
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 50px;*/
}
.list-cart{
	color: #535353;
}
.cart-header{
	background-color: #eee;
	padding: 5px 15px;
}
.cart-header strong{
	color: #e86767;
}
.point-cart{
	padding: 15px 15px;
}
.cover-img{
	padding-right: 30px;
	overflow: hidden;
	height: 100px;
	width: 100px;
	vertical-align: middle;
}
.img-sub-cart{
	height: 100px;
	width: auto;
	vertical-align: middle;
}
.row-cart{
	max-height: 130px  !important;
	overflow: hidden  !important;	
	border-top: 1px solid #ddd;
}
.subtitle-cart .sub1{
	margin: 0px 0px 10px 0px !important;
	color: #bababa;
}
.subtitle-cart .sub2{
	margin: 0px 0px 10px 0px  !important;
}
.subtitle-cart .sub3{
	margin: 0px 0px 10px 0px  !important;
}
.td_delete{
	width: 100px;
}
.row-cart a{
	text-decoration: none;
	color: #555;
}
.row-cart a:hover{
	text-decoration: none;
	color: #555;
}
.ov-cart{
	border-bottom: 1px solid #ddd;
	padding-bottom: 50px
}