body{
	font-family: 'Open Sans', sans-serif;
}
.nav{
	background-color: #e02425;
	padding: 10px 0px; 
	color: #f2f2f2;
	border-bottom: 1px solid #ffca05;
}
.navbotom{
	background-color: #e02425;
	padding: 10px 0px; 
	color: #f2f2f2;
	border-bottom: 2px solid #ccc;
}
.link a{
	text-decoration: none !important;
	color: #f2f2f2 !important;
}
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .logo {
	padding: 0px !important;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b31f20;
  color: #ffca05;
  transition: 0.3s;
  border-radius: 5px;
}

.logo img{
	height: 55px; width: auto;
}
.slider-background{
	background:url("../img/slider/background_slider.jpg");
    background-size: cover;       /* For flexibility */
}
.feature-product{
	padding: 10px 0px;
	color: #4b4b4b;
}
.hr_black{
	border-top: 1px solid #ddd !important;
}
.top-feature{
	overflow: hidden;
}
.top-feature a{
	text-decoration: none;
	color: #4b4b4b;
	font-weight: 600;
	font-size: 14px;
}
.top-feature a:hover{
	text-decoration: none;
	color: #e02425;
}
.sub-title{
	font-size: 20px;
	font-weight: 600;
}
.image-product{
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.image-product img{
	height: auto;
	width: 260px;
}
.title-product{
	padding: 10px;
}
.title-product h6{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 250px;
}
.title-product span{
	font-size: 14px;
	color: #fe7701;
	font-weight: 600;
}
.list-product{
	border: 1px solid #ddd;
}
.add-product{
	padding: 10px;
	background-color: #ffca05;
	color: white;
}
.list-product a{
	text-decoration: none !important;
}
